name: Get PDF&HTML
on:
  workflow_dispatch:
  push:
    paths:
      - README.md
      - .github/workflows/convertToPDF.yml

jobs:
  convert:
    runs-on: ubuntu-latest
    name: Get PDF&HTML
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Markdown to PDF and HTML
        uses: BaileyJM02/markdown-to-pdf@v1.2.0
        with:
          input_path: README.md
          output_dir: renders
          build_html: true
          build_pdf: true
          table_of_contents: true
      - uses: actions/upload-artifact@v3
        with:
          name: renders
          path: renders
        
            
